name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ swahilicodes }}
          password: ${{ swahilicodes1995 }}

      - name: Build Docker image
        run: |
          docker build -t ${{ swahilicodes }}/qms-back:latest .

      - name: Push Docker image
        run: |
          docker push ${{ swahilicodes }}/qms-back:latest
